# 虚拟环境（这个必须忽略）
venv/
env/
.venv/

# Python 编译产生的缓存
__pycache__/
*.py[cod]
*.so
*.egg-info/
.ruff_cache/
.pytest_cache/

# Node
node_modules/
frontend-h5/dist/

# IDE
.idea/
*.iml
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# 环境变量和敏感信息
.env
*.pem

# 日志和数据库文件
*.log
*.sqlite3
.DS_Store
